body{
  /* border: 1px solid red; */
  background-color: rgb(255, 255, 255);

}
#home{
  height: 100vh;
  width: 100vw;
  overflow: scroll !important;
  /* overflow: hidden !important; */
  /* border: 10px solid red; */
  
    /* border: 1px solid red; */

}
