@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .card {
    width: 90%;
  }

  .card-content {
    margin-top: -30px;
    transform: translate(-20px, -20px);
  }
}

@media (max-width: 768px) {
  .bubble-cont {
    padding: 15px;
  }

  .bubble h1 {
    font-size: 20px;
  }

  .bubble p,
  .bubble ul li {
    font-size: 14px;
  }
}

@media (min-width: 1025px) {
  #approach2-cause {
    display: flex;
    flex-direction: row;
  }

  #contact-cont,
  #about-cont {
    height: 81vh;
    width: 100vw;
    position: relative;
    z-index: 1;
  }
  #about-cont::after {
    content: "";
    background-image: url(../assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    transform: scaleY(-1);
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 70%;
    z-index: -1;
  }
}
@media (max-width: 1024px) {
  #contact-cont,
  #about-cont {
    height: 87vh;
    width: 100vw;
    position: relative;
    z-index: 1;
  }
  #about-cont::after {
    content: "";
    background-image: url(../assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    transform: scaleY(-1);
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 70%;
    z-index: -1;
  }
}
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .card {
    width: 90%;
  }

  .card-content {
    margin-top: -30px;
    transform: translate(-20px, -20px);
  }
}

@media (min-width: 1201px) {
  /* Large screen */

  #approach2-cause {
    top: 8vh;
    position: relative;
    height: 85%;
  }

  #our-cause {
    height: 100%;
    position: relative;
    /* border: 1px solid red; */
  }

  /* about us main */
  #our-cause #title {
    color: #000;
    font-size: 40px;
    color: #581411;
    font-family: "Source_sans_pro";
    border: none;
    position: relative;
    text-align: center;
    top: 8vh;
  }
  .card-container {
    top: 3vh;
    position: relative;
    width: 90vw !important;
    height: 85% !important;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
  }
  #our-cause img {
    width: 80%;
    height: 50%;
  }
  .card {
    width: 250px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card-title {
    z-index: 2;
    position: relative;
  }
  /* Mission, Vision, Values Background Images */
  .mission-title {
    background-image: url("../assets/images/mission123.png");
  }
  .vision-title {
    background-image: url("../assets/images/vision123.png");
  }
  .values-title {
    background-image: url("../assets/images/value123.png");
  }
  /* Content Cards (Bottom Row) */
  .card-content {
    background-color: #ecf0f1;
    z-index: 1;
    position: relative;
    transform: translate(-40px, -40px);
    /* border: 1px solid red !important; */
  }
  .mission-content {
    background-color: #f39c12;
  }
  .vision-content {
    background-color: #2ecc71;
  }
  .values-content {
    background-color: #e74c3c;
  }
  .card h2 {
    font-size: 24px;
    color: white;
    margin: 0;
  }
  .card p,
  .card ul {
    font-size: 16px;
    color: #34495e;
    margin: 0;
  }
  .approach2 {
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  #bubble-container {
    display: flex;
    flex-direction: row;
  }

  #bubble-cause {
    background-color: rgba(221, 210, 210, 0.158);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #c58a7e;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bubble-cont {
    margin: 0 auto;
    padding: 70px 40px;
  }

  .bubble h1 {
    font-size: 24px;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 15px;
  }

  .bubble p {
    font-size: 16px;
    line-height: 1.6;
    color: #34495e;
    margin-bottom: 15px;
  }

  .bubble ul {
    list-style-type: disc;
    margin-left: 20px;
  }

  .bubble ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #34495e;
  }

  /* Work with us */
  .stepper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10vh;
    height: 85%;
  }
  .stepper-container::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: #f39c12;
    transform: translateX(-50%);
  }
  .stepper-card {
    display: flex;
    width: 50%;
    height: 180px !important;
    justify-content: flex-end;
    position: relative;
  }
  .left {
    justify-content: flex-start;
    position: relative;
    transform: translate(60px, -5px);
  }
  .right {
    justify-content: flex-end;
    position: relative;
    transform: translate(-80px, -50px);
  }
  .step-card {
    position: relative;
    width: 300px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: space-around !important;
  }
  .step-card.hovered .step-image {
    display: none;
  }
  .step-card.hovered .step-title {
    font-size: 2rem;
  }
  .step-image {
    width: 250px !important;
    height: 150px !important;
    display: block;
    align-self: center;
    border-radius: 10px;
    margin-top: 10px;
  }
  .step-title {
    font-weight: bold !important;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: "poppins" !important;
    font-size: 16px !important;
    color: #581411;
    text-transform: uppercase !important;
  }
  .step-content {
    text-align: center;
    display: none;
    cursor: pointer;
    line-height: 2 !important;
  }
  .step-card.hovered .step-content {
    display: block;
  }
  .card {
    width: 250px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    font-family: "poppins";
    border: 1px dashed #c58a7e;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
  }
  .card-title {
    background-color: #ed8f1cb6;
    z-index: 0;
    position: relative;
    transform: translate(-15%, 60%);
    /* border: 1px solid red; */
  }
   .card-content {
    background-color: #ecf0f1;
    z-index: 1;
    padding: 15px;
    line-height: 2;
    position: relative;
    transform: translate(25%, 40px);

  }
  .mission-title {
    top: 0;
  }
  .vision-title {
    top: 0;
  }
  .values-title {
    top: 0;
  }
 
  .mission-content,
  .vision-content,
  .values-content {
    background-color: white;
    height: 380px;
    width: 250px;
    display: flex;
    flex-direction: column;
            /* border: 1px solid red; */

  }
  .card h2 {
    font-size: 24px;
    color: white;
    margin: 0;
  }
  .card p,
  .card ul {
    font-size: 14px;
    color: #34495e;
    margin: 0;
  }
  .card ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  .card ul li {
    margin-bottom: 5px;
  }
  .card-content {
    margin-top: -50px;
    margin-left: 50px;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  #contact-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media(min-width: 1830px) {
   .mission-content,
  .vision-content,
  .values-content {
    background-color: white !important;
    height: 380px;
    width: 320px;
    display: flex;
    flex-direction: column;
            /* border: 1px solid red; */

  }
  .card-title {
    background-color: #ed8f1cb6;
    z-index: 0;
    position: relative;
    transform: translate(-15%, 60%);
    /* border: 1px solid red; */
  }
 .card-content {
    background-color: #ecf0f1;
    z-index: 1;
    padding: 15px;
    line-height: 2;
    position: relative;
    transform: translate(25%, 40px);
        /* border: 1px solid red; */

  }
}
#container {
  height: 100vh;
  width: 100vw;
  /* border: 10px solid red; */
  overflow-x: hidden;
}