@media (min-width: 1201px) {
  /* Large screen */

  #footer-links img {
    width: 200px;
  }
  .dropdown{
  display: flex;
  flex-direction: column;
  width: auto !important;
  /* padding: 0px; */
  /* align-items: center !important; */
  background-color: rgba(255, 255, 255, 0.664) !important;;
  justify-content: flex-end !important;
  line-height: 2;
  padding: 5px;
  border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.089); /* Optional shadow for a bubble effect */
    font-family: "poppins";
    position: absolute !important;
    top: 7vh;
    z-index: 1000;
 

  /* border: 1px solid red; */

}
.dropdown a{
  /* border: 10px solid rgb(94, 255, 0) !important; */
  font-size: 14px !important;
  color: #000 !important;
  font-weight: 300 !important;
}
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* small screen */

  #navbar .logo img {
    height: 60px !important;
    width: auto;
    margin-top: 20px !important;
  }
  .dropdown{
  display: flex;
  flex-direction: column;
  width: auto !important;
  /* padding: 0px; */
  /* align-items: center !important; */
  background-color: rgba(255, 255, 255, 0.664) !important;;
  justify-content: flex-end !important;
  line-height: 2;
  padding: 5px;
  border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.089); /* Optional shadow for a bubble effect */
    font-family: "poppins";
    position: absolute !important;
    top: 7vh;
    z-index: 1000;
 

  /* border: 1px solid red; */

}
.dropdown a{
  /* border: 10px solid rgb(94, 255, 0) !important; */
  font-size: 14px !important;
  color: #000 !important;
  font-weight: 300 !important;
}
  #hero-section {
    height: 100vh;
    background-image: url(../../assets/images/hero-home.png),
      url(../../assets/images/bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center, bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    z-index: 1;
  }
  .three {
    color: #581411;
  }
  .one {
    color: #ed8e1c;
  }
  .two {
    color: #581411;
  }
  #hero-section h2 {
    position: absolute;
    top: 10% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Source_sans_pro";
  }
  #hero-section p {
    font-size: 20px !important;
    color: #c58a7e;
    font-weight: bold;
    font-family: "poppins";
    position: absolute;
    top: 18% !important;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #hero-section h2 {
    margin-bottom: 10px;
    font-size: 40px !important;
  }

  #hero-section p {
    font-size: 16px !important;
  }
  #approach2 {
    /* border: 1px solid red; */

    width: 100vw;
    height: 90vh;
    position: relative;
    /* top: -350px; */
    display: flex;
    justify-content: center;
    z-index: 0; /* Ensure it's behind #approach */
  }

  .bubble {
    /* border: 1px solid red; */
    position: relative;
    /* top: 120px; */
    background-color: rgb(255, 255, 255);
    color: black;
    /* padding: 20px; */
    margin: 15% 18px 18px 0px; /* Add space between the bubbles */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a bubble effect */
    width: 44%;
    height: auto; /* Adjust the height if needed */
    --g: #0000 98%, #000;
    --r: 50px;
    mask: radial-gradient(var(--r) at 0 0, var(--g)) 0 0,
      radial-gradient(var(--r) at 100% 0, var(--g)) 100% 0,
      radial-gradient(var(--r) at 0 100%, var(--g)) 0 100%,
      radial-gradient(var(--r) at 100% 100%, var(--g)) 100% 100%;
    mask-size: 51% 51%;
    mask-repeat: no-repeat;
    /* Clip-path to create a rounded pentagon */
    /* clip-path: ellipse(100% 50% at 10% 20%); */
    /* clip-path: inset(0% 45% 0% 45% 0 round 10px); */
    /* z-index: 0; */
  }

  .bubble-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    height: 70%;
    padding: 0px 30px !important;
  }
  .bubble-cont p {
    font-size: 18px;
    font-family: "poppins";
  }
  h1 {
    margin: 0;
    font-size: 24px;
    font-family: cursive;
    border-bottom: 1px dashed #c58a7e;
  }
  #approach2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../assets/images/bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    transform: scaleY(-1); /* Flip the background image vertically */
    pointer-events: none;
    z-index: -1; /* Background image stays behind the #approach2 content */
  }

  #approach {
    /* border: 1px solid red; */
    width: 88vw !important;
    height: 35vh;
    position: relative;
    /* top: -130px !important; */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    justify-content: space-between;
  }

  .approach-card-one {
    height: 40%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1px 0px 0px 0px;
  }

  .approach-card-one img {
    height: 60%;
    border: 1px dashed #c58a7e;
    border-radius: 50%;
  }
  .approach-card-one h3 {
    font-family: "sans-serif";
    font-size: 14px;
    color: #ed8e1c;
  }
  .approach-card {
    width: 23%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.596);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .approach-card p {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  #projects {
    /* border: 1px solid red; */
    /* line-height: 0.2; */
    height: 55vh;
    width: 100vw;
    position: relative;

    /* top: -390px !important; */
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;
  }
  #our-partners h2,
  #projects h2 {
    color: #000;
    font-size: 40px !important;
    color: #581411;
    font-family: "Source_sans_pro";
    /* border-bottom: 1px dashed #c58a7e; */
    margin-bottom: 20px !important;
  }
  #projects-cards {
    /* border: 1px solid red; */
    width: 90% !important;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .projects-card {
    /* border: 1px solid red; */
    height: 100%;
    width: 18%;
    background-color: white;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.404); */
    border-radius: 10px;
    padding: 0px 6px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  .projects-card .approach-card-one {
    height: 50%;
  }
  .projects-card .approach-card-one img {
    border: none;
    width: 60%;
    /* height: 90%; */
  }
  #projects-cards .projects-card p {
    font-size: 15px;
    color: black;
  }
  .projects-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.438);
    cursor: pointer;
  }
  #our-partners {
    /* overflow: hidden; Hide any overflow */
    width: 79.5%; /* Full width of the container */
    /* border: 1px solid red; */
    height: 35vh;
    position: relative;
    /* top: -400px !important; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;
    flex-direction: column;
  }

  .partners-row {
    display: flex; /* Use flexbox for horizontal layout */
    width: calc(200%);
    animation: scroll 30s linear infinite; /* Animation for scrolling */
  }

  .partners-row img {
    margin: 0 20px; /* Add some spacing between images */
    height: 80px !important; /* Set a fixed height for images */
    object-fit: contain; /* Maintain aspect ratio */
  }
  .partners-row img:hover {
    transform: scale(1.1); /* Slightly scale the image on hover for emphasis */
  }
  #footer-home {
    height: 65vh;
    width: 100vw;
    /* background-color: #581411; */
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    /* border: 10px solid black; */
    /* position: relative; */
    /* top: -290px; */
    background-image: url(../../assets/images/bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    /* top: -360px; */
    /* transform: scaleY(-1); Flip the background image vertically */
    /* pointer-events: none; */
  }
  #news-letter {
    /* border: 1px solid black; */
    position: relative;
    /* top: -60px !important; */
    /* left: 320px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #news-letter p {
    font-size: 26px !important;
    margin-bottom: 10px;
    color: #581411;;
    font-family: "Source_sans_pro";
    font-weight: 900;
  }

  .input-container {
    display: inline-flex;
    align-items: center;
  }

  .input-container input {
    padding: 20px !important;
    font-size: 20px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
  }

  .input-container button {
    padding: 20px 40px !important;
    font-size: 20px;
    border: 1px solid #ccc;
    background-color: #ed8e1c;
    color: #581411;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  .input-container button:hover {
    background-color: #581411 !important;
    cursor: pointer;
    color: #ed8e1c;
    border: none;
  }

  .input-container input:focus {
    border-color: #80bdff;
  }
  .footer-copyright {
    color: #c58a7e;
    font-size: 20px;
    font-family: "Source_sans_pro";
    /* border: 1px solid red; */
  }
  #footer {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60% !important;
    margin: 0;
  }
  #footer-links {
    /* border: 1px solid red; */
    /* height: 100%; */
    position: relative;
    /* top: -150px; */
    width: 89vw;
    display: flex;
    justify-content: space-between;
  }
  #footer-links p {
    color: #581411;
    font-family: cursive !important;
    font-size: 26px;
  }
  #social-links {
    display: flex;
    /* gap: 15px; */
    align-items: center;
    flex-direction: column;
  }

  #social-links a {
    font-size: 30px;
    color: #581411;
    text-decoration: none;
  }

  #social-links a:hover {
    color: #ed8e1c;
  }
  #social-links a img {
    width: 30px;
    height: 30px;
  }
  h6 {
    color: #581411;
    font-size: 18px;
    font-family: "Source_sans_pro";
  }
  #footer-links img {
    width: 250px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* Ipads*/

  /* Mobile screen */
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 1% 4.5vw;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    top: 0;
    width: 92vw !important;
    z-index: 1000;
  }
  .dropdown{
  display: flex;
  flex-direction: column;
  width: auto !important;
  /* padding: 0px; */
  /* align-items: center !important; */
  background-color: rgba(255, 255, 255, 0.966) !important;;
  justify-content: flex-end !important;
  line-height: 2;
  padding: 5px;
  border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.089); /* Optional shadow for a bubble effect */
    font-family: "poppins";
    position: absolute !important;
    top: 7vh;
    z-index: 1000;
 

  /* border: 1px solid red; */

}
.dropdown a{
  /* border: 10px solid rgb(94, 255, 0) !important; */
  font-size: 14px !important;
  color: #000 !important;
  font-weight: 300 !important;
}
  #navbar .logo img {
    height: 60px !important;
    width: auto;
    margin-top: 5px;
  }

  #hero-section {
    height: 100vh !important;
    background-image: url(../../assets/images/hero-home.png),
      url(../../assets/images/bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center, bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    z-index: 1;
    /* top: 12.5vh; */
    /* border: 1px solid red; */
  }
  .three {
    color: #581411;
  }
  .one {
    color: #ed8e1c;
  }
  .two {
    color: #581411;
  }
  #hero-section h2 {
    position: absolute;
    top: 10% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Source_sans_pro";
    font-size: 30px !important;
  }
  #hero-section p {
    font-size: 18px !important;
    color: #c58a7e;
    font-weight: bold;
    font-family: "poppins" !important;
    position: absolute;
    top: 18% !important;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #approach2 {
    /* border: 10px solid red; */

    width: 100vw;
    height: auto !important;
    position: relative;
    /* top: -790px !important; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 0; /* Ensure it's behind #approach */
  }
  .approach2 {
    /* border: 5px solid red; */
    height: 50% !important;
  }
  #approach2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../assets/images/bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    transform: scaleY(-1); /* Flip the background image vertically */
    pointer-events: none;
    z-index: -1; /* Background image stays behind the #approach2 content */
  }

  #approach {
    /* border: 1px solid red; */
    width: 40% !important;
    height: 50% !important;
    position: relative;
    top: 2vh !important;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around !important;
  }

  .approach-card-one {
    height: 95% !important;
    width: 50% !important;
    overflow: hidden;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
    padding: 10px 0px 0px 0px !important;
    /* border:1px solid red !important; */
  }

  .approach-card-one img {
    height: 80px !important;
    border: 1px dashed #c58a7e;
    border-radius: 50%;
    width: 20% !important;
    /* border:1px solid red !important; */
  }
  .approach-card-one h3 {
    font-family: "sans-serif";
    font-size: 16px !important;
    color: #ed8e1c;
  }
  .approach-card {
    width: 100% !important;
    height: 23% !important;
    background-color: rgba(0, 0, 0, 0.596);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #c58a7e !important;
  }
  .approach-card p {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px !important;
    width: 50% !important;
    padding-right: 10px;
  }
  .bubble {
    /* border: 10px solid red; */

    background-color: rgba(255, 255, 255, 0.226) !important;
    color: black;
    /* padding: 20px; */
    margin: 5% 18px 18px 0px !important; /* Add space between the bubbles */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a bubble effect */
    width: 40% !important;
    height: auto !important; /* Adjust the height if needed */
    --g: #0000 98%, #000;
    --r: 50px;
    mask: radial-gradient(var(--r) at 0 0, var(--g)) 0 0,
      radial-gradient(var(--r) at 100% 0, var(--g)) 100% 0,
      radial-gradient(var(--r) at 0 100%, var(--g)) 0 100%,
      radial-gradient(var(--r) at 100% 100%, var(--g)) 100% 100%;
    mask-size: 51% 51% !important;
    mask-repeat: no-repeat;
    /* Clip-path to create a rounded pentagon */
    /* clip-path: ellipse(100% 50% at 10% 20%); */
    /* clip-path: inset(0% 45% 0% 45% 0 round 10px); */
    /* z-index: 0; */
    position: relative;
    /* top: 10%; */
  }

  .bubble-cont {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: column !important;
    /* border: 1px solid red; */
    height: 10% !important;
    padding: 40px 3px !important;
  }
  .bubble-cont p {
    font-size: 18px !important;
    font-family: "poppins";
  }
  h1 {
    margin: 0;
    font-size: 40px !important;
    font-weight: bold !important;
    font-family: cursive;
    border-bottom: 1px dashed #c58a7e;
  }
  #projects {
    /* border: 10px solid red; */
    /* line-height: 0.2; */
    height: auto !important;
    width: 97.5vw !important;
    position: relative;

    /* top: 190px !important; */
    display: flex;
    flex-direction: column !important;

    align-items: center;
    justify-content: flex-start;
  }
  #our-partners h2,
  #projects h2 {
    color: #000;
    font-size: 35px !important;
    color: #581411;
    font-family: "Source_sans_pro";
    /* border-bottom: 1px dashed #c58a7e; */
    margin-bottom: 40px;
  }
  #projects-cards {
    /* border: 1px solid red; */
    width: 60% !important;
    height: auto !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    align-items: center;
    /* overflow: scroll; */
  }
  .projects-card {
    /* border: 1px solid red; */
    height: 250px !important;
    width: 100% !important;
    background-color: white;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.404); */
    border-radius: 10px;
    padding: 0px 6px;
    margin: 10px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .projects-card .approach-card-one {
    height: 60% !important;
    /* border: 1px solid red !important; */
  }
  .projects-card .approach-card-one img {
    border: none;
    width: 80% !important;
    height: 90px !important;
  }
  #projects-cards .projects-card p {
    font-size: 18px;
    color: black;
  }
  .projects-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.438);
    cursor: pointer;
  }
  #our-partners {
    /* overflow: hidden; Hide any overflow */
    width: 79.5%; /* Full width of the container */
    /* border: 1px solid red; */
    height: 35vh;
    position: relative;
    /* top: 780px !important; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;
    flex-direction: column;
  }

  .partners-row {
    display: flex; /* Use flexbox for horizontal layout */
    width: calc(200%);
    animation: scroll 30s linear infinite; /* Animation for scrolling */
  }

  .partners-row img {
    margin: 0 20px; /* Add some spacing between images */
    height: 50px !important; /* Set a fixed height for images */
    object-fit: contain; /* Maintain aspect ratio */
  }
  #footer-home {
    height: 65vh;
    width: 100vw;
    /* background-color: #581411; */
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    /* border: 10px solid black; */
    /* position: relative; */
    /* top: -290px; */
    background-image: url(../../assets/images/bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    /* transform: scaleY(-1); Flip the background image vertically */
    /* pointer-events: none; */
    position: relative;
    /* top: 850px; */
  }
  #news-letter {
    /* border: 1px solid black; */
    position: relative;
    /* top: -80px !important; */
    /* left: 320px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #news-letter p {
    font-size: 14px !important;
    margin-bottom: 10px;
    color: #581411;;
    font-family: "Source_sans_pro";
    font-weight: 900;
  }

  .input-container {
    display: inline-flex;
    align-items: center;
  }

  .input-container input {
    padding: 10px !important;
    font-size: 20px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
  }

  .input-container button {
    padding: 10px 15px !important
  ;
    font-size: 20px;
    border: 1px solid #ccc;
    background-color: #ed8e1c;
    color: #581411;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  .input-container button:hover {
    background-color: #581411 !important;
    cursor: pointer;
    color: #ed8e1c;
    border: none;
  }

  .input-container input:focus {
    border-color: #80bdff;
  }
  .footer-copyright {
    color: #c58a7e;
    font-size: 16px !important;
    font-family: "Source_sans_pro";
    position: relative;
    /* top: -8px; */
    font-weight: bold;

    /* border: 1px solid red; */
  }
  #footer {
    /* border: 10px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60% !important;
    margin: 0;
    position: relative;
    /* top:-98px; */
  }
  #footer-links {
    /* border: 1px solid red ; */
    height: 400px !important;
    position: relative;
    /* top: -150px; */
    width: 89vw;
    display: flex;
    justify-content: space-between !important;
  }
  #footer-links p {
    color: #581411;
    font-family: cursive;
    font-size: 24px !important;
  }
  #footer-links img {
    width: 180px;
  }
  #social-links {
    display: flex;
    /* gap: 15px; */
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red !important; */
    padding: 0px 18px !important;
  }

  #social-links a {
    font-size: 16px !important;
    color: #581411;
    text-decoration: none;
  }

  #social-links a:hover {
    color: #ed8e1c;
  }
  #social-links a img {
    width: 30px;
    height: 30px;
  }
  #social-links p {
    display: none;
  }
  h6 {
    color: #581411;
    font-size: 14px !important;
    font-family: "Source_sans_pro";
  }
}
@media (max-width: 768px) {
  /* Mobile screen */
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 1% 4.5vw !important;
    background-color: rgba(255, 255, 255, 0) !important;
    position: fixed;
    top: 0;
    width: 93vw !important;
    z-index: 1000;
    /* border: 1px solid red !important; */
  }
  .dropdown a{
  /* border: 10px solid rgb(94, 255, 0) !important; */
  font-size: 14px !important;
  color: #000 !important;
  font-weight: 300 !important;
}

  #hero-section {
    height: 100vh !important;
    background-image: url(../../assets/images/hero-home.png),
      url(../../assets/images/bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center, bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    z-index: 1;
    /* border: 1px solid red; */
  }
  .three {
    color: #581411;
  }
  .one {
    color: #ed8e1c;
  }
  .two {
    color: #581411;
  }
  #hero-section h2 {
    position: absolute;
    top: 14% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Source_sans_pro";
    font-size: 26px !important;
  }
  #hero-section p {
    font-size: 16px !important;
    color: #c58a7e;
    font-weight: bold;
    font-family: "poppins" !important;
    position: absolute;
    top: 24% !important;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .approach2 {
    /* border: 1px solid red; */
    height: 60% !important;
  }
  #approach2 {
    /* border: 1px solid red; */

    width: 100vw;
    height: auto !important;
    position: relative;
    /* top: -620px !important; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 0; /* Ensure it's behind #approach */
  }
  #approach2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../assets/images/bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    transform: scaleY(-1); /* Flip the background image vertically */
    pointer-events: none;
    z-index: -1; /* Background image stays behind the #approach2 content */
  }

  #approach {
    /* border: 1px solid red; */
    width: 90vw !important;
    height: 50% !important;
    position: relative;
    top: 2vh !important;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around !important;
  }

  .approach-card-one {
    height: 60% !important;
    width: 40% !important;
    display: flex;
    align-items: center !important;
    align-items: center !important;
    flex-direction: column;
    padding: 1px 0px 0px 0px;
    /* border:1px solid red !important; */
  }

  .approach-card-one img {
    height: 80px !important;
    border: 1px dashed #c58a7e;
    border-radius: 50%;
  }
  .approach-card-one h3 {
    font-family: "sans-serif";
    font-size: 14px;
    color: #ed8e1c;
  }
  .approach-card {
    width: 100% !important;
    height: 23% !important;
    background-color: rgba(0, 0, 0, 0.596);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row !important;
    border: 1px solid #c58a7e !important;
  }
  .approach-card p {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px !important;
    width: 60% !important;
    padding-right: 5px !important;
  }
  .bubble {
    /* border: 1px solid red; */

    background-color: rgba(255, 255, 255, 0.226) !important;
    color: black;
    /* padding: 20px; */
    margin: 5% 18px 18px 0px !important; /* Add space between the bubbles */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a bubble effect */
    width: 40% !important;
    height: 50vh !important; /* Adjust the height if needed */
    --g: #0000 98%, #000;
    --r: 50px;
    mask: radial-gradient(var(--r) at 0 0, var(--g)) 0 0,
      radial-gradient(var(--r) at 100% 0, var(--g)) 100% 0,
      radial-gradient(var(--r) at 0 100%, var(--g)) 0 100%,
      radial-gradient(var(--r) at 100% 100%, var(--g)) 100% 100%;
    mask-size: 51% 51% !important;
    mask-repeat: no-repeat;
    /* Clip-path to create a rounded pentagon */
    /* clip-path: ellipse(100% 50% at 10% 20%); */
    /* clip-path: inset(0% 45% 0% 45% 0 round 10px); */
    /* z-index: 0; */
    position: relative;
    /* top: 120px !important; */
  }

  .bubble-cont {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    flex-direction: column !important;
    /* border: 1px solid red; */
    /* height: 10% !important; */
    padding: 45px 3px !important;
  }
  .bubble-cont p {
    font-size: 13.5px !important;
    font-family: "poppins";
  }
  h1 {
    margin: 0;
    font-size: 30px !important;
    font-weight: bold !important;
    font-family: cursive;
    border-bottom: 1px dashed #c58a7e;
  }
  #projects {
    /* border: 10px solid red; */
    /* line-height: 0.2; */
    height: auto !important;
    width: 96vw !important;
    position: relative;

    /* top: 270px !important; */
    display: flex;
    flex-direction: column !important;

    align-items: center;
    justify-content: flex-start;
  }
  #our-partners h2,
  #projects h2 {
    color: #000;
    font-size: 25px !important;
    color: #581411;
    font-family: "Source_sans_pro";
    /* border-bottom: 1px dashed #c58a7e; */
    /* margin-bottom: 10px !important; */
  }
  #projects-cards {
    /* border: 1px solid red; */
    width: 90% !important;
    height: auto !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    /* overflow: scroll; */
  }
  .projects-card {
    /* border: 1px solid red; */
    height: auto !important;
    width: 97% !important;
    background-color: white;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.404); */
    border-radius: 10px;
    padding: 0px 6px;
    margin: 10px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .projects-card .approach-card-one {
    height: 100% !important;
    width: 40% !important;
    /* border: 1px solid red !important; */
  }
  .projects-card .approach-card-one img {
    border: none;
    width: 60%;
    height: 85px !important;
  }
  #projects-cards .projects-card p {
    font-size: 14px;
    color: black;
    width: 60% !important;
  }
  .projects-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.438);
    cursor: pointer;
  }
  #our-partners {
    /* overflow: hidden; Hide any overflow */
    width: 79.5%; /* Full width of the container */
    /* border: 1px solid red; */
    height: 35vh;
    position: relative;
    /* top: 850px !important; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;
    flex-direction: column;
  }

  .partners-row {
    display: flex; /* Use flexbox for horizontal layout */
    width: calc(200%);
    animation: scroll 30s linear infinite; /* Animation for scrolling */
  }

  .partners-row img {
    margin: 0 20px; /* Add some spacing between images */
    height: 50px !important; /* Set a fixed height for images */
    object-fit: contain; /* Maintain aspect ratio */
  }
  #footer-home {
    height: auto !important;
    width: 100vw;
    /* background-color: #581411; */
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    /* border: 10px solid black; */
    /* position: relative; */
    /* top: -290px; */
    background-image: url(../../assets/images/bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    /* transform: scaleY(-1); Flip the background image vertically */
    /* pointer-events: none; */
    position: relative;
    /* top: 900px; */
  }
  #news-letter {
    /* border: 1px solid black; */
    position: relative;
    /* top: -50px !important; */
    /* left: 320px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #news-letter p {
    font-size: 14px !important;
    margin-bottom: 10px;
    color: #581411;;
    font-family: "Source_sans_pro";
    font-weight: 900;
  }

  .input-container {
    display: inline-flex;
    align-items: center;
  }

  .input-container input {
    padding: 10px !important;
    font-size: 20px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
  }

  .input-container button {
    padding: 10px 15px !important
  ;
    font-size: 20px;
    border: 1px solid #ccc;
    background-color: #ed8e1c;
    color: #581411;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  .input-container button:hover {
    background-color: #581411 !important;
    cursor: pointer;
    color: #ed8e1c;
    border: none;
  }

  .input-container input:focus {
    border-color: #80bdff;
  }
  .footer-copyright {
    color: #c58a7e;
    font-size: 16px !important;
    font-family: "Source_sans_pro";
    position: relative;
    /* top: -20px; */
    font-weight: bold;

    /* border: 1px solid red; */
  }
  #footer {
    /* border: 10px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60% !important;
    margin: 0;
    position: relative;
    /* top:-98px; */
  }
  #footer-links {
    /* border: 1px solid red ; */
    height: 400px !important;
    position: relative;
    /* top: -150px; */
    width: 89vw;
    display: flex;
    justify-content: flex-start !important;
  }
  #footer-links p {
    color: #581411;
    font-family: cursive;
    font-size: 18px !important;
  }
  #footer-links img {
    width: 200px;
  }
  #social-links {
    display: flex;
    /* gap: 15px; */
    align-items: center;
    flex-direction: column;
    justify-content: flex-start !important;
    /* border: 1px solid red !important; */
    padding: 100px 18px !important;
  }

  #social-links a {
    font-size: 16px !important;
    color: #581411;
    text-decoration: none;
  }

  #social-links a:hover {
    color: #ed8e1c;
  }
  #social-links a img {
    width: 30px;
    height: 30px;
  }
  #social-links p {
    display: none;
  }
  h6 {
    color: #581411;
    font-size: 13px !important;
    font-family: "Source_sans_pro";
  }
}
#hero-section {
  height: 100vh;
  background-image: url(../../assets/images/hero-home.png),
    url(../../assets/images/bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center, bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 1;
  /* border: 1px solid red; */
}
.three {
  color: #581411;
}
.one {
  color: #ed8e1c;
}
.two {
  color: #581411;
}
#hero-section h2 {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Source_sans_pro";
  font-size: 46px;
}
#hero-section p {
  font-size: 24px;
  color: #c58a7e;
  font-weight: bold;
  font-family: "poppins";
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero-section h2 {
  margin-bottom: 10px;
  font-size: 46px;
}

#hero-section p {
  font-size: 18px;
}
/* Hide scroll bar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Navbar container */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  padding: 1% 4.5vw;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  width: 91vw;
  z-index: 1000;
  /* border: 1px solid red; */
}

/* Logo styles */
.logo {
  width: 50%;
}
#navbar .logo img {
  height: 69px;
  width: auto;
  margin-top: 5px;
}

/* Navigation links */
#navbar .nav-links {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 450px;
  margin-right: 1.5vw;
}

#navbar .nav-links ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 100%;
}

#navbar .nav-links li {
  /* margin-left: 20px; */
}

#navbar .nav-links a {
  text-decoration: none;
  color: #581411;
  font-size: 16px;
  font-weight: bold;
  /* border: 1px solid red; */
}
#navbar .nav-links a:hover {
  color: #ed8e1c;
  border-bottom: 1px solid #58151159;
}
/* Hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

#approach {
  /* border: 1px solid red; */
  width: 88vw !important;
  height: 40%;
  position: relative;
  top: -20vh;
  /* top: -150px; */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  justify-content: space-between !important;
}
#approach2 {
  /* border: 10px solid red; */

  width: 100vw;
  height: 100vh;
  position: relative;
  /* top: -350px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2; /* Ensure it's behind #approach */
}
#approach2 .approach2 {
  /* border: 1px solid red; */
  position: relative;
  /* top: -350px; */
  height: 60%;
  display: flex;
  justify-content: center;
  z-index: 0; /* Ensure it's behind #approach */
}
@media (min-width: 1201px) and (max-width: 1550px) {
  .bubble-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    height: 70%;
    padding: 70px 80px !important;
  }
}
.bubble {
  /* border: 1px solid red; */

  background-color: rgb(255, 255, 255);
  color: black;
  /* padding: 20px; */
  margin: 1% 18px 18px 0px; /* Add space between the bubbles */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a bubble effect */
  width: 44%;
  height: 90%; /* Adjust the height if needed */
  --g: #0000 98%, #000;
  --r: 50px;
  mask: radial-gradient(var(--r) at 0 0, var(--g)) 0 0,
    radial-gradient(var(--r) at 100% 0, var(--g)) 100% 0,
    radial-gradient(var(--r) at 0 100%, var(--g)) 0 100%,
    radial-gradient(var(--r) at 100% 100%, var(--g)) 100% 100%;
  mask-size: 51% 51%;
  mask-repeat: no-repeat;
  /* Clip-path to create a rounded pentagon */
  /* clip-path: ellipse(100% 50% at 10% 20%); */
  /* clip-path: inset(0% 45% 0% 45% 0 round 10px); */
  /* z-index: 0; */
}

.bubble-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
  height: 70%;
  padding: 70px 180px;
}
.bubble-cont p {
  font-size: 18px;
  font-family: "poppins";
}
h1 {
  margin: 0;
  font-size: 24px;
  font-family: cursive;
  border-bottom: 1px dashed #c58a7e;
  text-align: center !important;
}
#approach2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../../assets/images/bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  transform: scaleY(-1); /* Flip the background image vertically */
  pointer-events: none;
  z-index: -1; /* Background image stays behind the #approach2 content */
}

.approach-card-one {
  height: 51%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1px 0px 0px 0px;
  /* border: 1px solid red; */
}

.approach-card-one img {
  height: 60%;
  border: 1px dashed #c58a7e;
  border-radius: 50%;
}
.approach-card-one h3 {
  font-family: "sans-serif";
  font-size: 14px;
  color: #ed8e1c;
}
.approach-card {
  width: 23%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.596);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
.approach-card p {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  height: 49%;
}
/* Responsive navbar for smaller screens */
@media (max-width: 768px) {
  #navbar {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 10px 40px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    position: fixed;
    top: 0;
    width: 83vw;
    z-index: 1000;
  }

  #navbar .nav-links {
    display: none;
    position: absolute;
    top: 10vh; /* Make sure it appears just below the navbar */
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    flex-direction: column;
    align-items: center;
  }

  #navbar .nav-links.open {
    display: flex; /* Show the menu when the state is toggled */
  }

  #navbar .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  #navbar .nav-links li {
    margin: 10px 0;
  }

  /* Display hamburger menu on small screens */
  .hamburger {
    display: flex;
  }
}
#projects {
  /* border: 1px solid red; */
  /* line-height: 0.2; */
  height: 65vh;
  width: 100vw;
  position: relative;

  /* top: -375px; */
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;
}
#our-partners h2,
#projects h2 {
  color: #000;
  font-size: 44px;
  color: #581411;
  font-family: "Source_sans_pro";
  /* border-bottom: 1px dashed #c58a7e; */
  margin-bottom: 40px;
}
#projects-cards {
  /* border: 1px solid red; */
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.projects-card {
  /* border: 1px solid red; */
  height: 100%;
  width: 18%;
  background-color: white;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.404); */
  border-radius: 10px;
  padding: 0px 6px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}
.projects-card .approach-card-one {
  height: 50%;
}
.projects-card .approach-card-one img {
  border: none;
  width: 60%;
  /* height: 90%; */
}
#projects-cards .projects-card p {
  /* font-size: 13px; */
  color: black;
}
.projects-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.438);
  cursor: pointer;
}
#our-partners {
  /* overflow: hidden; Hide any overflow */
  width: 79.5%; /* Full width of the container */
  /* border: 1px solid red; */
  height: 35vh;
  position: relative;
  /* top: -290px; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10%;
  flex-direction: column;
}

.partners-row {
  display: flex; /* Use flexbox for horizontal layout */
  width: calc(200%);
  animation: scroll 30s linear infinite; /* Animation for scrolling */
}

.partners-row img {
  margin: 0 20px; /* Add some spacing between images */
  height: 80px; /* Set a fixed height for images */
  object-fit: contain; /* Maintain aspect ratio */
}
.partners-row img:hover {
  transform: scale(1.1); /* Slightly scale the image on hover for emphasis */
}
/* Keyframes for scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0); /* Start at the beginning of the first image */
  }
  100% {
    transform: translateX(-50%); /* Move left by half the width of the row */
  }
}
#footer-home {
  height: auto;
  width: 100vw;
  /* background-color: #581411; */
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /* border: 10px solid black; */
  /* position: relative; */
  /* top: -290px; */
  background-image: url(../../assets/images/bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  /* transform: scaleY(-1); Flip the background image vertically */
  /* pointer-events: none; */
}
#news-letter {
  /* border: 1px solid black; */
  position: relative;
  /* top: -200px; */
  /* left: 320px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
#news-letter p {
  font-size: 32px;
  margin-bottom: 10px;
  color: #581411;;
  font-family: "Source_sans_pro";
  font-weight: 900;
}

.input-container {
  display: inline-flex;
  align-items: center;
}

.input-container input {
  padding: 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.input-container button {
  padding: 20px 30px;
  font-size: 20px;
  border: 1px solid #ccc;
  background-color: #ed8e1c;
  color: #581411;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #581411 !important;
  cursor: pointer;
  color: #ed8e1c;
  border: none;
}

.input-container input:focus {
  border-color: #80bdff;
}
.footer-copyright {
  color: #c58a7e;
  font-size: 20px;
  font-family: "Source_sans_pro";
  /* border: 1px solid red; */
}
#footer {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  margin: 0;
}
#footer-links {
  /* border: 1px solid red; */
  /* height: 100%; */
  position: relative;
  /* top: -150px; */
  width: 89vw;
  display: flex;
  justify-content: space-between;
}
#footer-links p {
  color: #581411;
  font-family: cursive;
  font-size: 26px;
}
#social-links {
  display: flex;
  /* gap: 15px; */
  align-items: center;
  flex-direction: column;
}

#social-links a {
  font-size: 30px;
  color: #581411;
  text-decoration: none;
}

#social-links a:hover {
  color: #ed8e1c;
}
#social-links a img {
  width: 30px;
  height: 30px;
}
h6 {
  color: #581411;
  font-size: 18px;
  font-family: "Source_sans_pro";
}
 .dropdown a:hover{
    color: #ed8e1c !important;
      border: none !important;
      padding: 4px;
      cursor: pointer;
/* background-color: rgba(197, 138, 126, 0.062); */
 }
